:root {
    --branco-principal: #ffffff;
    --branco-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: "Inter", sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("../../img/Background.png");
    /*"Background.png” é decorativa e seu contexto não muda a leitura da página. Por isso incluímos ela por background-image*/
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.conteiner__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0; /* esta em sentido horário começando por TOP, margin-top: 1em; margin-bottom: 2em;*/
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--branco-secundario);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--branco-secundario);
}

.container__descricao {
    padding: 2em;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    font-weight: 700;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin-bottom: 7em;
}

.rodape__logo {
    margin-top: 4em;
    margin-bottom: 1em;
}

.rodape__lista {
    font-size: 16px;
    font-weight: 400;
    margin: 2em 0;
    color: var(--branco-principal);
}

.lista__link {
    display: inline-block;
    padding: 0 0.7em;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: var(--botao-azul);
}

.rodape__texto {
    font-size: 14px;
    font-weight: 400;
    color: var(--branco-secundario);
    margin-bottom: 2em;
}
.teste {
    background-color: #167bf7;
}
