@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../fonts/Inter-Regular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../fonts/Inter-Bold.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .BntFill {
        @apply mb-4 block rounded bg-botaoAzul p-4 text-brancoPrincipal no-underline duration-500 ease-in-out lg:hover:bg-botaoAzulEfeito lg:hover:text-corDeFundo;
    }
    .BntFillOutline {
        @apply mb-4 block rounded border-2 border-solid border-brancoPrincipal bg-transparent p-4 text-brancoPrincipal no-underline duration-500 ease-in-out lg:hover:border-botaoAzulEfeito lg:hover:bg-botaoAzulEfeito lg:hover:text-corDeFundo;
    }
}
